{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Download {{ filename }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div class="jumbotron" align="center">
        <h2>Welcome to <a href="https://verishare.org/upload">VeriShare 2.0</a></h2>
        <p>Share your files anonymously</p>
    </div>
    <div class="jumbotron">
        <h2>Please enter the secure code to download "<span style="color: #337ab7">{{ filename }}</span>"</h2> <br/>

        <form class="form-horizontal" role="form" method="POST"
              enctype="multipart/form-data" autocomplete="off" id="download">
            <div class="input-group form-group" id="alias-input-gp" style="padding-left: 10%; padding-bottom: 0">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="passwd" name="passwd"
                       placeholder="Secure Code" maxlength="6" style="max-width: 300px; z-index: inherit">
            </div>
            <div id="invalid-input-warner"
                 style="margin-left: 8%; padding-top: 0; margin-bottom: 30px; max-width: 200px; display: none">
                <div class="alert alert-danger alert-banner">
                    Invalid Secure Code
                </div>
            </div>
            <div id="preview-warner" class="alert alert-warning" role="alert"
                 style="margin-left: 8%; max-width: 400px; display: none;">
                We cannot preview this type of file, please download it.
            </div>
            <div align="right">
                <button id="preview-bt" class="btn btn-lg g-recaptcha"  value="preview" style="width: 120px">Preview</button>
                <button id="download-bt" class="btn btn-info btn-lg g-recaptcha"  value="download" style="width: 120px">Download</button>
            </div>
        </form>
    </div>
    <div class="jumbotron">
        <h2 style="color: darkblue">What you can do with VeriShare</h2>
        <p>
            With this anonymous file host, you can upload a file and share it with other people, privately or publicly.
             You can safely store a private file from being scraped by bots or visited by unwanted people. Please read 
             <a href="#how-to-use">How to use</a> for more information.
        </p>
    </div>
    <div class="jumbotron">
        <h2 style="color: darkblue">How to use</h2>
        <p>
            Normally, files are shared linked to your account. It will be hard if you want to share a file with people doesn't have the account. By using our file host service, any authorized people can access your private file without any annoying registration. Unlike files hosted by static file server on your homepage which may be provided by your institution, our service can protect you from web-scraper or unwanted visitors. There is two kind of permission, private and public. Public files can only be accessed by providing their SHA-1 value (i.e., long link), it will discourage search engine to find them. Private files can be accessed by providing its tag (i.e., short link) or SHA-1, and an additional secure code.
            If you want to upload a public file, check the "Share it publicly" switcher, choose a file and upload it. If you want to upload a private file, we allow you to bind a tag to it. After uploading a private file, you will receive a short link (only appear when you bind a tag), a long link, and secure code. It should be mentioned that the secure code only appears <strong>ONE TIME</strong>. So, please remember the secure code.
        </p>
    </div>
    <div class="jumbotron">
        <h2 style="color: darkblue">FAQ</h2>
        <ol>
            <h3>
                <li>How to share file safely?</li>
            </h3>
            <p>Uploading file without alias or choose an uncommon alias can make it harder for unauthorized person to
                access the file. Make sure you DO NOT check "Share it publicly."</p>
            <h3>
                <li>What should I do if I lost my secure code?</li>
            </h3>
            <p>You need to enter the tag and upload an exactly same file to us; we will reset the secure code associated with your tag.</p>
            <h3>
                <li>How can I change a public file into private?</li>
            </h3>
            <p>Upload an exactly same file to us and DO NOT check "Share it publicly." Be attention, if you uploaded it as the private file before. Using the tag (this file bound to it before) or without tag (it has been uploaded without tag before) will cause the server revoke previous secure code. People CANNOT access a private file with a revoked secure code.</p>
            <h3>
                <li>Why I cannot preview video files?</li>
            </h3>
            <p>It depends on which explorer you are using. Sometimes, you need to install some extra decoders to preview
                video files</p>
        </ol>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>

<script>
    function onloadCallback() {
        $(".g-recaptcha").each(function() {
            var object = $(this);
            grecaptcha.render(object.attr("id"), {
                "sitekey" : "{{ site_key }}",
                "callback" : function(token) {
                    object.parents('form').find(".g-recaptcha-response").val(token);
                    var url;
                    if (object.attr('value') === "preview")
                        url = "/{{ prefix }}/preview/";
                    else
                        url = "/{{ prefix }}/download/";

                    if ($("#passwd").val().length === 0) {
                        alert("Please provide secure code!");
                        location.reload();
                    }
                    else {
                        object.parents('form').attr('action', url).submit();
                        grecaptcha.reset();
                    }
                }
            });
        });
    }
</script>

<script src="{% static 'js/core.js' %}"></script>

<script>
    var can_preview = "{{ prevable }}";
    if (can_preview === "False") {
        $("#preview-warner").css("display", "block");
        $("#preview-bt").addClass("disabled");
    }

    var wrong_passwd = "{{ wrong_passwd }}";
    if (wrong_passwd === "True") {
        $("#invalid-input-warner").css("display", "block");
    }
</script>

</body>
</html>
