{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Download</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div class="jumbotron">
        <h2>Welcome to <a href="https://verishare.org/upload">verishare.org</a></h2>
        <p>Share your files anonymously</p>
    </div>
    <div class="jumbotron">
        <h2>Please enter the secure code to download "<span style="color: #337ab7">{{ filename }}</span>"</h2> <br/>

        <form class="form-horizontal" role="form" method="POST"
              enctype="multipart/form-data" autocomplete="off" id="download">
            <div class="input-group form-group" id="alias-input-gp" style="padding-left: 10%; padding-bottom: 0">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="passwd" name="passwd"
                       placeholder="Secure Code" maxlength="6" style="max-width: 300px; z-index: inherit">
            </div>
            <div id="invalid-input-warner"
                 style="margin-left: 8%; padding-top: 0; margin-bottom: 30px; max-width: 200px; display: none">
                <div class="alert alert-danger alert-banner">
                    Invalid Secure Code
                </div>
            </div>
            <div id="preview-warner" class="alert alert-warning" role="alert"
                 style="margin-left: 8%; max-width: 400px; display: none;">
                We cannot preview this type of file, please download it.
            </div>
            <div align="right">
                <button id="preview-bt" class="btn btn-lg g-recaptcha"  value="preview" style="width: 120px">Preview</button>
                <button id="download-bt" class="btn btn-info btn-lg g-recaptcha"  value="download" style="width: 120px">Download</button>
            </div>
        </form>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>

<script>
    function onloadCallback() {
        $(".g-recaptcha").each(function() {
            var object = $(this);
            grecaptcha.render(object.attr("id"), {
                "sitekey" : "{{ site_key }}",
                "callback" : function(token) {
                    object.parents('form').find(".g-recaptcha-response").val(token);
                    var url;
                    if (object.attr('value') === "preview")
                        url = "/{{ prefix }}/preview/";
                    else
                        url = "/{{ prefix }}/download/";

                    if ($("#passwd").val().length === 0) {
                        alert("Please provide secure code!");
                        location.reload();
                    }
                    else {
                        object.parents('form').attr('action', url).submit();
                        grecaptcha.reset();
                    }
                }
            });
        });
    }
</script>

<script src="{% static 'js/core.js' %}"></script>

<script>
    var can_preview = "{{ prevable }}";
    if (can_preview === "False") {
        $("#preview-warner").css("display", "block");
        $("#preview-bt").addClass("disabled");
    }

    var wrong_passwd = "{{ wrong_passwd }}";
    if (wrong_passwd === "True") {
        $("#invalid-input-warner").css("display", "block");
    }
</script>

</body>
</html>
