{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron" align="center">
        <h2>Welcome to <a href="https://verishare.org/upload">VeriShare 2.0</a></h2>
        <p>Share your files anonymously</p>
    </div>

    <div class="with-bottom-progress-bar">
        <div class="jumbotron" id="upload-result-container" style="margin-bottom: 0;">
            <form class="form" action="/upload/" method="post" id="upload" enctype="multipart/form-data"
                  autocomplete="off">
                <div class="input-group form-group" id="alias-input-gp" style="padding-left: 10%; padding-bottom: 0">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                    <input type="text" class="form-control" id="alias" name="alias" maxlength="32"
                           placeholder="Tag" pattern="[a-zA-Z0-9_-]{7,32}" style="max-width: 500px; z-index: inherit">
                </div>

                <div id="invalid-input-warner" style="padding-left: 12%; padding-top: 0; display: none">
                    <div id="length-warner" class="valid alert alert-danger alert-banner">The length should between 7
                        and 32.
                    </div>
                    <div id="charset-warner" class="valid alert alert-danger alert-banner">The tag should only contain
                        lowercase &
                        uppercase letters,
                        digits, underscores, and hyphens.
                    </div>
                </div>

                <div class="upload-file form-group" style="margin-top: 30px;">
                    <input type="file" name="file" id="file" class="inputfile">
                    <label for="file" class="upload-file-label">
                        <span>
                            <i class="glyphicon glyphicon-cloud-upload"
                               style="padding-right: 5px"></i>Choose a file<br>
                            <span style="font-size: large">&nbsp&nbsp&nbsp&nbsp&nbsp(Maximum size: 20MB)</span>
                        </span>
                    </label>
                </div>

                <div class="row form-group" style="padding-left:12%; height: 28px;">
                <span style="font-size: large; display: table-cell; vertical-align: middle; padding-right: 15px">
                    Share it
                    <a href="#" data-toggle="tooltip"
                       title="By toggling it, anyone can access this file by providing a long link without secure code."
                       style="cursor: pointer; font-weight: 600">publicly</a>
                </span>
                    <label class="switch" style="display: table-cell; vertical-align: middle;">
                        <input id="publicity" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div align="right">
                    <label>By uploading, I agree to
                        <a data-toggle="modal" data-target="#user-agreement">user
                            agreement </a>.</label>
                </div>

                <div align="right">
                    <button type="button" class="g-recaptcha btn btn-info btn-lg" data-sitekey="{{ site_key }}"
                            data-callback="upload_file" data-size="invisible" id="upload-file-bt">Agree
                        and Submit
                    </button>
                </div>
            </form>
        </div>
        <div class="bottom-progress-bar"></div>
    </div>
    <div class="jumbotron">
        <h2 style="color: darkblue">What you can do with VeriShare</h2>
        <p>
            With this anonymous verification file host, you can upload a file and share it to other people with just
            one link and one secure code. You can safely store a private file from being scraped by some bots or
            visited by unwanted people.
        </p>
    </div>
    <div class="jumbotron">
        <h2 style="color: darkblue">How to use</h2>
        <p>
            It‘s pretty easy, enter the alias of your file and a secure code which is used to access it, then choose the
            file you want to upload and click submit button (make sure you've read our User Agreement before uploading).
            If you leave alias blank, then your file can only be accessed by entering its SHA-1 which is much safer. And
            if you leave secure code blank, our system will generate a random one for you. It is recommended to use an
            uncommon alias and secure code for safe reason.
        </p>
    </div>
    <div class="jumbotron">
        <h2 style="color: darkblue">FAQ</h2>
        <ol>
            <h3>
                <li>How to share file safely?</li>
            </h3>
            <p>Uploading file without alias or choose an uncommon alias can make it harder for unauthorized person to
                access the file.</p>
            <h3>
                <li>Why I cannot preview video files?</li>
            </h3>
            <p>It depends on which explorer you are using. Sometimes, you need to install some extra decoders to preview
                video files</p>
        </ol>
    </div>

    <div id="user-agreement" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>User Agreement</h3>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>Accessibility. This is an open-source project under
                            <a href="https://raw.githubusercontent.com/zzrcxb/VeriShare/master/LICENSE">GPL v3.0</a>
                            license.
                        </li>
                        <li>Liability. This site is free to use. So, we don't guarantee the liability. The site may be
                            unavailable
                            under these conditions including but not limited to being attacked, physical machine
                            failure,
                            and
                            under maintenance.
                        </li>
                        <li>Privacy. Your privacy is important to us, we won't collect any data from your uploads, but
                            we
                            cannot
                            guarantee your files are absolutely safe.
                        </li>
                        <li>
                            Restrictions. Any file contains including but not limited to pornography, terrorism,
                            violence
                            and
                            illegal trades will be deleted without informing.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function fake_upload() {
            console.log(grecaptcha.getResponse());
            $("#upload").submit();
        }
    </script>

    <script src="{% static 'js/core.js' %}"></script>

</div>
</body>
</html>